<div class="center hero-unit">
  <h1>Welcome to MediRecord</h1>
  <p>
    This is the home page for the Medical Record Application.
  </p>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>