<% provide(:title, @patient.name + "'s Forms") %>
<div class="row">
  <div class="span12">
    <% if @patient.forms.any? %>
      <h3><%= @patient.name %>'s Forms (<%= @patient.forms.count %>)</h3>
      <%= link_to 'Back', patients_path %>
      <ul>
        <ol class="forms">
          <%= render @patient.forms, patient: @patient %>
        </ol>
        <%#= will_paginate @forms %>
    </ul>
    <% end %>
  </div>
</div>