// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.forms {
  clear: both;
  margin-top: 52px;
}

.forms_header {
  float: left;
  .form-icon {
    margin-top: 7px;
    margin-right: 9px;
  }
}

.create_form {
  float: right;
  margin-top: 2px;
}

.print-btn {
  margin-top: 10px;
}

#top-submit-btn {
  float: right;
}

#text-input-form-section {
  clear: both;
}

#patient-title {
  margin-bottom: 20px;
}
